<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h3>
      <% if (todos.length) { %>
        <% todos.forEach(function(t, idx) { %>
            <ul>
                 <li>
              <%= t.todo %> - <%= t.done ? 'Done' : 'Not Done' %>
              <form action="/<%= idx %>?_method=DELETE"  method="POST"><button type="submit">DELETE</button></form>
                </li>
            </ul> 
        <% }); %> 
       <% } else { %>
          <h3>There are no To Dos yet!</h3>
        <% } %>
      </h3>
  
      <hr>
      <form action='/' method="POST"> <input type="text" name="todo" required>
      <button type="submit">ADD TO DO</button>
      </form>
  </body>
</html>
